@import url(variables.css);
*{
    margin: 0;
    padding:0;
    font-family: "Fuente";
}
body{
    background-color: var(--color-1);
}

.header{
    display:flex;
    color: var(--color-2);
    justify-content: space-between;
    padding: 2vw
}

.header p{
    margin-top: 2.5vw;
    font-size: 5vw;
}

.partePrincipal{
    color: var(--color-2);
    padding:2vw;
}

.partePrincipal h2{
    color:var(--color-4)
}

.parteSecundaria{
    color: var(--color-2);
    margin-top: 3vw;
    padding:2vw;
}

.parteSecundaria h3{
    color:var(--color-4)
}

.parteTerciaria{
    color: var(--color-2);
    margin-top: 3vw;
    padding:2vw;
}

.parteTerciaria h3{
    color:var(--color-4)
}

.parteTerciaria h2{
    color:var(--color-3)
}


.parteCuaternaria{
    color: var(--color-2);
    padding:2vw;
}

.psicologa{
    display: flex;
    margin-top: 5vw;
    gap: 6vw
}

.psicologa img{
    width:20vw;
    border-radius: 10vw;
}

.psicologa p{
    margin-top:5.5vw;
}

.p1,
.p2,
.p3{
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.boton{
    text-decoration: none;
    background-color: var(--color-6);
    color: var(--color-1);
    padding:3vw;
    border-radius: 4vw;
    margin-top: 10vw;
    margin-left: 21.5vw;
}

.p3 img{
    width:5vw;
}