@import url(variables.css);
*{
    margin: 0;
    padding:0;
}
body{
    background-color: var(--color-1);
}

.logo img{
    width:120vw;
    margin-top:35vw;
    margin-left:-9vw ;
}
.botonPrincipal{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-2);
    border-radius: 4vw;
    text-align: center;
    width:72vw;
    margin-left: 13vw;
    padding:2vw
}

.botonPrincipal img{
    width:13vw;
    margin-left: -5vw;
}

.boton{
    text-decoration: none;
    margin-left: -5vw;
    margin-top: 1.5vw;
    font-family: "Fuente";
    color: var(--color-1);
    font-size: 4vw;
}

