<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ev1.css">
    <title>Evaluacion 1</title>
</head>
<body>
    <header class="header">
        <a href="../views/modulos.html">
            <img class="img1" src="../storage/imgs/Frame 32.svg">
        </a>
        <p>Hi ! , Michael</p>   
        <a href="../views/usuario.html">
            <img class="imgUsuario" src="../storage/imgs/Ellipse 79.svg">
        </a> 
    </header>
    <div class="partePrincipal">
        <h2>Evaluacion 1</h2>
        <p>Desafio de conversacion</p>
    </div>
    <div class="parteSecundaria">
        <h3>Objetivo</h3>
        <p>Evaluar la habilidad para iniciar y mantener una conversación fluida.</p>
        <h3>Dinamica</h3>
        <p>Se asignan temas de conversación a cada participante y deben iniciar una conversación con otra persona sobre ese tema. La conversación debe durar al menos 5 minutos. Posteriormente, se evalúa la naturalidad y la efectividad de la interacción.</p>
        <h3>Razon</h3>
        <p>Iniciar y mantener conversaciones efectivas es fundamental para establecer conexiones y aplicar otras habilidades sociales. Esta evaluación abarca varios aspectos clave como la iniciación de conversaciones, el uso de comunicación verbal y no verbal, y la escucha activa.</p>
    </div>
    <div class="parteTerciaria">
        <h3>Asesoria virtual</h3>
            <div class="psicologa">
                <img src="../storage/imgs/psico.jpg">
                <h2>Laura Hernandez Ortega</h2>
                <p>psicologa titular</p>
            </div>
    </div>
    <div class="parteCuaternaria">
        <div class="p1">
            <h3>Fecha</h3>
            <p>14/06/2024</p>
        </div>
        <div class="p2">
            <h3>Hora</h3>
            <p>3:30 p.m</p>
        </div>
        <div class="p3">
            <a class="boton" href="https://meet.google.com/jth-fsth-rxx">Ingresar a la asesoria</a>
        </div>
    </div>
    <div class="parteQuinta">
        <h3>Calificaciones</h3>
            <div class="a1">
                <h4>Introduccion a las habilidades sociales</h4>
                <p>7.2</p>
            </div>
            <div class="a2">
                <h4>Comunicacion no verbal</h4>
                <p>6.8</p>
            </div>
            <div class="a3">
                <h4>Escucha activa</h4>
                <p>7.5</p>
            </div>
            <div class="a4">
                <h4>Iniciar conversaciones</h4>
                <p>7.0</p>
            </div>
            <div class="a5">
                <h2>PROMEDIO</h2>
                <p>7.1</p>
            </div>
            <div class="a5">
                <h2>ESTADO</h2>
                <span>Aprobado</span>
            </div>
    </div>
</body>
</html>