<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ev2.css">
    <title>Evaluacion 2</title>
</head>
<body>
    <header class="header">
        <a href="../views/modulos.html">
            <img class="img1" src="../storage/imgs/Frame 32.svg">
        </a>
        <p>Hi ! , Michael</p>   
        <a href="../views/usuario.html">
            <img class="imgUsuario" src="../storage/imgs/Ellipse 79.svg">
        </a> 
    </header>
    <div class="partePrincipal">
        <h2>Evaluacion 2</h2>
        <p>Simulación de Resolución de Conflictos</p>
    </div>
    <div class="parteSecundaria">
        <h3>Objetivo</h3>
        <p>Evaluar la habilidad para resolver conflictos de manera constructiva.</p>
        <h3>Dinamica</h3>
        <p>Los participantes trabajan en parejas o grupos pequeños y se les da un conflicto común (por ejemplo, un desacuerdo en el trabajo o una disputa entre amigos). Deben discutir y llegar a una solución mutuamente aceptable, practicando la empatía y la comprensión durante el proceso.</p>
        <h3>Razon</h3>
        <p>La capacidad para resolver conflictos de manera efectiva es crucial en las relaciones interpersonales. Esta evaluación permite a los participantes practicar habilidades de empatía, comprensión y expresión de emociones en un contexto de resolución de problemas.</p>
    </div>
    <div class="parteTerciaria">
        <h3>Asesoria virtual</h3>
            <div class="psicologa">
                <img src="../storage/imgs/psico.jpg">
                <h2>Laura Hernandez Ortega</h2>
                <p>psicologa titular</p>
            </div>
    </div>
    <div class="parteCuaternaria">
        <div class="p1">
            <h3>Fecha</h3>
            <p>17/06/2024</p>
        </div>
        <div class="p2">
            <h3>Hora</h3>
            <p>3:30 p.m</p>
        </div>
        <div class="p3">
            <a class="boton" href="https://meet.google.com/jth-fsth-rxx">Ingresar a la asesoria</a>
        </div>
    </div>
    <div class="parteQuinta">
        <h3>Calificaciones</h3>
            <div class="a1">
                <h4>Hacer amigos</h4>
                <p>9.0</p>
            </div>
            <div class="a2">
                <h4>Expresar emociones</h4>
                <p>6.0</p>
            </div>
            <div class="a3">
                <h4>Resolución basica de conflictos</h4>
                <p>8.5</p>
            </div>
            <div class="a4">
                <h4>Empatía y comprensión</h4>
                <p>9.1</p>
            </div>
            <div class="a5">
                <h2>PROMEDIO</h2>
                <p>8.2</p>
            </div>
            <div class="a5">
                <h2>ESTADO</h2>
                <span>Aprobado</span>
            </div>
    </div>
</body>
</html>