<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ev2.css">
    <title>Evaluacion 3</title>
</head>
<body>
    <header class="header">
        <a href="../views/modulos.html">
            <img class="img1" src="../storage/imgs/Frame 32.svg">
        </a>
        <p>Hi ! , Michael</p>   
        <a href="../views/usuario.html">
            <img class="imgUsuario" src="../storage/imgs/Ellipse 79.svg">
        </a> 
    </header>
    <div class="partePrincipal">
        <h2>Evaluacion 3</h2>
        <p>Proyecto de Colaboración</p>
    </div>
    <div class="parteSecundaria">
        <h3>Objetivo</h3>
        <p> Evaluar la habilidad para colaborar en equipo.</p>
        <h3>Dinamica</h3>
        <p>Los participantes se dividen en equipos y se les asigna un proyecto breve (por ejemplo, planear un evento o resolver un problema práctico). Deben trabajar juntos para completar el proyecto, demostrando habilidades de comunicación, cooperación y respeto mutuo. Al final, cada equipo presenta su proyecto al grupo.</p>
        <h3>Razon</h3>
        <p> La colaboración es una habilidad esencial en casi todos los aspectos de la vida personal y profesional. Este ejercicio permite a los participantes demostrar y mejorar sus habilidades de trabajo en equipo, comunicación, y respeto por las contribuciones de los demás.</p>
    </div>
    <div class="parteTerciaria">
        <h3>Asesoria virtual</h3>
            <div class="psicologa">
                <img src="../storage/imgs/psico.jpg">
                <h2>Laura Hernandez Ortega</h2>
                <p>psicologa titular</p>
            </div>
    </div>
    <div class="parteCuaternaria">
        <div class="p1">
            <h3>Fecha</h3>
            <p>19/06/2024</p>
        </div>
        <div class="p2">
            <h3>Hora</h3>
            <p>3:30 p.m</p>
        </div>
        <div class="p3">
            <a class="boton" href="https://meet.google.com/jth-fsth-rxx">Ingresar a la asesoria</a>
        </div>
    </div>
    <div class="parteQuinta">
        <h3>Calificaciones</h3>
            <div class="a1">
                <h4>Autoestima y confianza</h4>
                <p>8.8</p>
            </div>
            <div class="a2">
                <h4>Habilidades de colaboracion</h4>
                <p>8.0</p>
            </div>
            <div class="a3">
                <h4>Respeto y tolerancia</h4>
                <p>8.2</p>
            </div>
            <div class="a4">
                <h4>Manejo del estres</h4>
                <p>7.3</p>
            </div>
            <div class="a5">
                <h2>PROMEDIO</h2>
                <p>8.1</p>
            </div>
            <div class="a5">
                <h2>ESTADO</h2>
                <span>Aprobado</span>
            </div>
    </div>
</body>
</html>