<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/interfaz1.css">
    <title>¡BIENVENIDO!</title>
</head>
<body>
    <header class="header">
        <img class="menu" src="../storage/imgs/Frame 15.svg">
        <p>Hi ! , Michael</p>   
        <img class="imgUsuario" src="../storage/imgs/Ellipse 79.svg">
    </header>
    <div class="imgDog">
        <img src="../storage/imgs/imgDog.png">
    </div>
    <div class="ondasSonoras">
        <img src="../storage/imgs/ondasSonoras.png">
    </div>
    <div class="footer">
        <img class="img1" src="../storage/imgs/Frame 32.svg">
        <img class="img2" src="../storage/imgs/Frame 3.svg">
        <img class="img3" src="../storage/imgs/equis.svg">
    </div>
</body>
</html>