<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/m1.css">
    <title>Introduccion a las habilidades sociales</title>
</head>
<body>
    <header class="header">
        <a href="../views/modulos.html">
            <img class="img1" src="../storage/imgs/Frame 32.svg">
        </a>
        <p>Hi ! , Michael</p>   
        <a href="../views/usuario.html">
            <img class="imgUsuario" src="../storage/imgs/Ellipse 79.svg">
        </a> 
    </header>
    <div class="partePrincipal">
        <h2>Seccion 1</h2>
        <p>Introduccion a las habilidades sociales</p>
    </div>
    <div class="parteSecundaria">
        <h3>Objetivo</h3>
        <p>Proporcionar una visión general de las habilidades sociales, destacando su importancia en la vida diaria y en diferentes contextos sociales. Identificar los componentes clave de las habilidades sociales y cómo influyen en nuestras interacciones y relaciones.</p>
    </div>
    <div class="parteTerciaria">
        <h3>Asesoria virtual</h3>
            <div class="psicologa">
                <img src="../storage/imgs/psico.jpg">
                <h2>Laura Hernandez Ortega</h2>
                <p>psicologa titular</p>
            </div>
    </div>
    <div class="parteCuaternaria">
        <div class="p1">
            <h3>Fecha</h3>
            <p>28/05/2024</p>
        </div>
        <div class="p2">
            <h3>Hora</h3>
            <p>3:30 p.m</p>
        </div>
        <div class="p3">
            <a class="boton" href="https://meet.google.com/jth-fsth-rxx">Ingresar a la asesoria</a>
        </div>
    </div>
</body>
</html>