<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modulos.css">
    <title>Modulos</title>
</head>
<body>
    <header class="header">
        <a href="../views/interfaz1.html">
            <img class="img1" src="../storage/imgs/Frame 32.svg">
        </a>
        <p>Hi ! , Michael</p>   
        <img class="imgUsuario" src="../storage/imgs/Ellipse 79.svg">
    </header>
    <div class="contenidoGeneral">
        <div class="grupo">
            <h1>Grupo</h1>
            <p>1A - ADOLESCENCIA Y JUVENTUD</p>
        </div>
        <div class="moduloBasico">
            <h2>Modulo basico</h2>
            <p>Fundamentos de habilidades sociales</p>
        </div>
        <div class="seccionBasico">
            <a href="#">- Introduccion a las habilidades sociales</a><p>
            <a href="#">- Comunicacion no verbal</a><p>
            <a href="#">- Escucha activa</a><p>
            <a href="#">- Iniciar conversaciones</a><p>
            <a href="#">- Hacer amigos</a><p>
            <a href="#">- Expresion de emociones</a><p>
            <a href="#">- Resolucion de conflictos</a><p>
            <a href="#">- Empatia y comprension</a><p>
            <a href="#">- Autoestima y confianza</a><p>
            <a href="#">- Habilidades de colaboracion</a><p>
            <a href="#">- Respeto y tolerancia</a><p>
            <a href="#">- Manejo del estres</a><p>
        </div>
        <div class="mbPrincipal">
            <div class="moduloIntermedio">
                <h2>Modulo Intermedio</h2>
                <p>Refinamiento de habilidades sociales</p>
            </div>
            <img class="cand1" src="../storage/imgs/candado.png">
        </div>
        <div class="maPrincipal">
            <div class="moduloAvanzado">
                <h2>Modulo Avanzado</h2>
                <p>Habilidades sociales avanzadas</p>
            </div>
            <img class="cand1" src="../storage/imgs/candado.png">
        </div>
    </div>
</body>
</html>