<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modulos.css">
    <title>Modulos</title>
</head>
<body>
    <header class="header">
        <a href="../views/interfaz1.html">
            <img class="img1" src="../storage/imgs/Frame 32.svg">
        </a>
        <p>Hi ! , Michael</p>   
        <a href="../views/usuario.html">
            <img class="imgUsuario" src="../storage/imgs/Ellipse 79.svg">
        </a> 
    </header>
    <div class="contenidoGeneral">
        <div class="grupo">
            <h1>Grupo</h1>
            <p>1A - ADOLESCENCIA Y JUVENTUD</p>
        </div>
        <div class="moduloBasico">
            <h2>Modulo basico</h2>
            <p>Fundamentos de habilidades sociales</p>
        </div>
        <div class="seccionBasico">
            <a href="../views/m1.html"><span>S1</span> - Introduccion a las habilidades sociales</a><p>
            <a href="../views/m2.html"><span>S2</span> - Comunicacion no verbal</a><p>
            <a href="../views/m3.html"><span>S3</span> - Escucha activa</a><p>
            <a href="../views/m4.html"><span>S4</span> - Iniciar conversaciones</a><p>
            <a href="../views/m5.html"><span>S5</span> - Hacer amigos</a><p>
            <a href="../views/m6.html"><span>S6</span> - Expresion de emociones</a><p>
            <a href="../views/m7.html"><span>S7</span> - Resolucion basica de conflictos</a><p>
            <a href="../views/m8.html"><span>S8</span> - Empatia y comprension</a><p>
            <a href="../views/m9.html"><span>S9</span> - Autoestima y confianza</a><p>
            <a href="../views/m10.html"><span>S10</span> - Habilidades de colaboracion</a><p>
            <a href="../views/m11.html"><span>S11</span> - Respeto y tolerancia</a><p>
            <a href="../views/m12.html"><span>S12</span> - Manejo del estres</a><p>
            <a href="../views/ev1.html"><span>EV1</span> - Desafio de conversacion</a><p>
            <a href="../views/ev2.html"><span>EV2</span> - Simulacion de resolucion de conflictos</a><p>
            <a href="../views/ev3.html"><span>EV3</span> - Proyecto de colaboracion</a><p></p>
        </div>
        <div class="mbPrincipal">
            <div class="moduloIntermedio">
                <h2>Modulo Intermedio</h2>
                <p>Refinamiento de habilidades sociales</p>
            </div>
            <img class="cand1" src="../storage/imgs/candado.png">
        </div>
        <div class="maPrincipal">
            <div class="moduloAvanzado">
                <h2>Modulo Avanzado</h2>
                <p>Habilidades sociales avanzadas</p>
            </div>
            <img class="cand1" src="../storage/imgs/candado.png">
        </div>
    </div>
</body>
</html>