<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/usuario.css">
    <title>Usuario</title>
</head>
<body>
    <header class="header">
        <a href="../views/interfaz1.html">
            <img class="img1" src="../storage/imgs/Frame 32.svg">
        </a>
    </header>
    <img class="imgUsuario" src="../storage/imgs/Ellipse 79.svg">
    <div class="name">
        <p>Michael Martinez</p>
    </div>
    <div class="b1">
        <h2>nombres</h2>
        <p>Michael</p>
    </div>
    <div class="b1">
        <h2>apellidos</h2>
        <p>Martinez Valderrama</p>
    </div>
    <div class="b1">
        <h2>edad</h2>
        <p>23 años</p>
    </div>
    <div class="b1">
        <h2>ciudad de nacimiento</h2>
        <p>bucaramanga</p>
    </div>
    <div class="b1">
        <h2>direccion</h2>
        <p>Av. Bellavista 152-47</p>
    </div>
    <div class="b1">
        <h2>tipo de sangre</h2>
        <p>O+</p>
    </div>
    <div class="b1">
        <h2>GENERO</h2>
        <p>MASCULINO</p>
    </div>
    <div class="p3">
        <a class="boton" href="../index.html">CERRAR SESION</a>
    </div>
</body>
</html>